<%- include('partials/header.ejs') %>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <h1>Perguntas</h1>
        <hr>
        <a href="/perguntar"><button class="btn btn-primary">Perguntar</button></a>
        <hr>
    </div>
</body>
<%- include('partials/footer.ejs') %>